body { 
    background-color: rgb(198, 180, 215)};
    margin: 20px 20%;
    padding: 20px 10px ;
    


/* .Person {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(103, 32, 32);
    display: inline-block;
    margin: 0 10px;
  } */